<html>
  <head>
    <% include ./header.html %>
  </head>
<body>
    <table> 
        <tr>
            <td>순번</td>
            <td>ID Domain</td>
            <td>UserID</td>
            <td>Password</td>
            <td>BOT 접속 URL</td>
            <td>MasterBot</td>
            <td>PizzaBot</td>
            <td>Web Channel</td>
        </tr>
       
        <% for(let i = 0; i < students.length; i++) { %>
        <tr>
        <td><%=i+1%></td>
        <td><%=students[i].idDomain%></td>
        <td><%=students[i].userId%></td>
        <td><%=students[i].password%></td>
        <td><%=students[i].botConUrl%></td>
        <td><%=students[i].botName%></td>
        <td><%=students[i].botName2%></td>
        <td><%=students[i].webChannel%></td>
        </tr>
       <% } %> 
  </table>

</body>
</html>