<html>
  <head>
    <% include ./header.html %>
  </head>
<body>
    <script>
        function onLogin() {
            document.getElementById("myForm").submit();
        }
    </script>

    <div>
    <p><%=message%></p>
    <form id="myForm" action="/login/login" method="post">

        <div class="container">
            <label>Username</label>
            <input type="text" placeholder="Enter Username" name="uname" id="unameId" required/>

            <label>Password</label>
            <input type="password" placeholder="Enter Password" name="passwd" required/>

            <input type="hidden" name="redirect_uri" id="redirect_uri_id" />

            <button type="button" onclick="onLogin()">Login</button>
        </div>
    </div>
    </form>
</body>
</html>